/* ! header */
header{
    min-height: 70px;
    background-color: #2C3E50;
}

/* !spotlight */

.spotlight{
    background-color: #1ABC9C;
}

#avatar{
    width: 50%;
}

/* ! sezione principale */

.col{
    min-height: 100px;
    border: 1px dashed red;
}

/* ! abaout section */

#about{
    background-color: #1ABC9C;
    min-height: 200px;
}
/* ! form section */

#form{
    min-height: 100px;
    border: 1px dashed red;
}
/* ! footer */

footer{
    background-color: #3A546D;
}

